/* css home  */

.disabledTextElement {
  color: rgb(211, 211, 211);
}

.active-page {
  border-bottom: solid 4px #919191;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0;
}
/* header {
} */
nav {
  margin: 0;
  padding: 0;
  height: 80px;
  display: grid;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
}
li {
  
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 25px;
}

li button {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  border: none;
  background-color: #f3f3f3;
  
}

a {
  text-decoration: none;
  
}



.home-link, .home-link:visited {
  color: rgb(112, 112, 112);
}
.home-link:active, .home-link:hover {
  color: rgb(0, 0, 0);
  border-bottom: solid 4px #000000;
}

.concepts-link, .concepts-link:visited {
  color: #4ADBFB;
}
.concepts-link:active, .concepts-link:hover {
  color: #13a0c0;
  border-bottom: solid 4px #13a0c0;
}

.macapps-link, .macapps-link:visited {
  color: #ff6b6b;
}
.macapps-link:active, .macapps-link:hover {
  color: #c43131;
  border-bottom: solid 4px #c43131;;
}


.logo {
  width: 100px;
  height: 100px;
  background-color: rgb(16, 109, 231);
}
